target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
.vscode
*.bpmn/
/userguide/src/en/index.html
userguide/src/en/output/
migration.html
/modules/**/bin
modules/flowable-ui-task/flowable-ui-task-app/data
modules/flowable-webapp-rest2/src/main/webapp/docs
modules/flowable-app-rest/.extract
modules/flowable-ui-idm/flowable-ui-idm-app/.extract
modules/flowable-app-rest/src/main/resources/static/docs/specfile
userguide-dmn/src/en/output
userguide-form/src/en/output
userguide-cmmn/src/en/output
modules/flowable-app-rest/.factorypath
modules/flowable-ui-admin/flowable-ui-admin-app/.factorypath
modules/flowable-ui-admin/flowable-ui-admin-app/.tern-project
modules/flowable-ui-idm/flowable-ui-idm-app/.factorypath
modules/flowable-ui-modeler/flowable-ui-modeler-app/.factorypath
modules/flowable-ui-task/flowable-ui-task-app/.factorypath
modules/flowable-ui-task/flowable-ui-task-conf/.factorypath
*.factorypath
